html {
    box-sizing: border-box;
}

.container {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 720px;
    width: 720px;
}

.row {
    flex: 1;
    display: flex;
    margin: 0;
    border: 0;
}

.column {
    flex: 1;
    border: 2px solid black;
    margin: 0;
    border: 0;
}

.hover {
    background-color: white;
}