body {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: green;
    border-radius: 4px;
    margin-bottom: 12px;
    height: 52px;
    width: 600px;
    color: greenyellow;
    font-weight: bold;
}

.container {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
}

.row {
    flex: 1;
    display: flex;
    margin: 0;
    border: 0;
}

.column {
    flex: 1;
    border: 2px solid black;
    margin: 0;
    border: 0;
}

.hover {
    background-color: white;
}