html {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    height: 720px;
    width: 720px;
}

.row {
    flex: 1;
    display: flex;
}

.column {
    flex: 1;
    border: 2px solid black;
}

.hover {
    background-color: black;
}